<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <% if @categories %>
  <%= form.label "Category",class:"form-label" %>
   <%= form.collection_select :category_id, @categories.order(:name), :id, :name,class:"form-select" %>
   <%end%>
</div>
  <div class="field">
    <%= form.label :name,class:"form-label" %>
    <%= form.text_field :name ,class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :price ,class:"form-label"%>
    <%= form.text_field :price,class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :total,class:"form-label" %>
    <%= form.number_field :total ,class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :decription,class:"form-label" %>
    <%= form.text_area :decription,class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :vote,class:"form-label" %>
    <%= form.number_field :vote ,class:'form-control'%>
  </div>
  <div class="field">
  <%= form.label :image,class:"form-label" %>
  <%= form.file_field :image %>
</div>
  <div class="actions">
    <%= form.submit "Submit",class:"btn btn-primary"%>
  </div>
<% end %>
